<div class="sekai-bs-area-wrapper" id="postEdit">
    <div class="sekai-input-warp sekai-text-input-warp">
        <label for="title" class="sekai-input-label">TITLE</label>
        <input class="sekai-input" id="title" type="text" placeholder="">
    </div>
    <div class="sekai-input-warp sekai-text-input-warp">
        <label for="content" class="sekai-input-label">CONTENT</label>
        <textarea class="sekai-input" id="content"></textarea>
    </div>
    <div class="sekai-input-warp">
        <label for="postStatus" class="sekai-input-label">Post Status</label>
        <select class="sekai-dropdown" id="postStatus">
            <option>Draft</option>
            <option>Release</option>
        </select>
    </div>
    <div class="sekai-input-warp sekai-dropdown-input-warp">
        <label for="commentStatus" class="sekai-input-label">Comment Status (currently unavailable)</label>
        <select class="sekai-dropdown" id="commentStatus">
            <option>Enable</option>
            <option>Disable</option>
        </select>
    </div>
    <div class="sekai-input-warp sekai-dropdown-input-warp">
        <input type="button" value="Post" id="submit" class="sekai-btn sekai-info" onclick="submitPostRequest();">
    </div>
</div>

<script src="http://{{.sekaiSiteRoot}}/backStage/scripts/styles.js"></script>
<script>
    function submitPostRequest() {
        if(getCookie("sekai_login_token")===false) {
            alert("NO TOKEN.");
        }
        let inp_ttl = $("#title");
        let inp_ctt = $("#content");
        let inp_pst_st = $("#postStatus");
        let inp_cmt_st = $("#commentStatus");
        if ((inp_ttl.val().trim().length === 0) || (inp_ctt.val().trim().length === 0) || (inp_pst_st.val().trim().length === 0) || (inp_cmt_st.val().trim().length === 0)) {
            alert("some input field remain empty.");
            return false;
        } else {
            let postContent = {
                "Title": inp_ttl.val(),
                "Content": inp_ctt.val(),
                "PostStatus": inp_pst_st.val(),
                "CommentStatus": inp_cmt_st.val()
            };
            $.ajax({
                url: "http://{{.sekaiSiteRoot}}/v1/post/new",
                type: "post",
                contentType: "application/json",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", getCookie("sekai_login_token"));
                },
                data: JSON.stringify(postContent),
                success: function (response) {
                    alert(response.msg);
                }
            })
        }
    }
</script>