@import "../../../../../template/header/stylesheets/function";
@import "../../../../../template/header/stylesheets/colorpalette";
@import "../../../../../template/header/stylesheets/fonts";

.sekai-bs-area-wrapper {
  padding: 2vw;
  background-color: $rgba-white;
}

.sekai-input-group {
  display: flex;
  flex-wrap: nowrap;
  .sekai-input-warp {
    width: 200px;
  }
}

.sekai-input-warp {
  margin-top: 20px;
}

.sekai-text-input-warp {
  width: 400px;
  height: 40px;
  .sekai-input {
    height: 100%;
    width: 100%;
  }
}

.sekai-textarea-input-warp {
  width: 400px;
  height: 80px;
}

