{{ define "chunk" }}
<!doctype html>
<html lang="cmn-Hans">
<head>
    <title>{{.sekaiPageTitle}}</title>
    {{template "header"}}
    <!-- SeKai ChunkLoader Typical Header Marker -->
</head>
<body>
    {{template "mask"}}
    <!-- SeKai ChunkLoader Typical Mask Marker -->

    {{template "content"}}
    <!-- SeKai ChunkLoader Typical Content Marker -->

    {{template "footer"}}
    <!-- SeKai ChunkLoader Typical Footer Marker -->
</body>
</html>
{{ end }}