{{ define "login" }}
<!doctype html>
<html lang="cmn-Hans">
<head>
    <title>{{.sekaiPageTitle}}</title>
    <link rel="preconnect" href="https://fonts.proxy.ustclug.org">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--  Import USTC Font Source  -->
    <link href="https://fonts.proxy.ustclug.org/css2?family=Noto+Sans+SC&display=swap" rel="stylesheet">
    <!--  Import Noto Sans Regular 400  -->
    <link rel="stylesheet" href="stylesheets/styles.css">
    <!--  Import main Stylesheets   -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <!--  Import jQuery from Microsoft Ajax Content Delivery Network Assets  -->
    <style id="style"></style>
    <!-- SeKai ChunkLoader Typical Header Marker -->
</head>
<body>
<!--{{template "mask" .}}-->
<!-- SeKai ChunkLoader Typical Mask Marker -->

<table class="sekai-logintable">
    <tr>
        <td><label for="username">username: </label></td>
        <td>
            <input class="sekai-input sekai-auth-username" id="username" type="text" placeholder="username">
        </td>
    </tr>
    <tr>
        <td><label for="password">password: </label></td>
        <td>
            <input class="sekai-input sekai-auth-password" id="password" type="password" placeholder="password">
        </td>
    </tr>
</table>
<button id="submit" class="sekai-btn sekai-btn-submit" onclick="submit();">login</button>
<!-- TODO: add register page -->
<!-- TODO: add user auth page -->
<script>
    function submit() {
        let inp_usr = $("#username");
        let inp_pwd = $("#password");
        if ((inp_usr.val().trim().length === 0) || (inp_pwd.val().trim().length === 0)) {
            alert("USERNAME or PASSWORD input field remain empty.");
            return false;
        } else {
            let postContent = {
                "Username" : inp_usr.val(),
                "Password" : inp_pwd.val()
            }
            $.post("http://{{.sekaiSiteRoot}}/v1/user/login", JSON.stringify(postContent), function (response){
                if (response.code===0){
                    setCookie("sekai_login_token", response.data.token);
                    alert("Success!");
                }
                else if(response.code===400){
                    alert(response.msg);
                }
            }, "json");
            // alert("POSTED.");
        }
    }

    // TODO: debug cookie funtions
    function setCookie(key, value, expires){
        var oDate = new Date();
        oDate.setDate(oDate.getDate() + expires);
        document.cookie = key + '=' + value + ';expires=' + oDate;
    }
    function removeCookie(key){
        setCookie(key,'',-1);
    }
    function getCookie(key){
        var cookieArr = document.cookie.split('; ');
        for (var i = 0; i < cookieArr.length; i++) {
            var arr = cookieArr[i].split('=');
            if (arr[0]===key){
                return arr[1];
            }
        }
        return false;
    }
</script>
<!-- SeKai ChunkLoader Typical Content Marker -->

<!--{{template "footer" .}}-->
<!-- SeKai ChunkLoader Typical Footer Marker -->
</body>
<script>
    const style = document.getElementById('style');
    const req = new XMLHttpRequest();
    req.onloadend = () => {
        style.innerHTML = req.responseText;
    };
    // req.open("GET", "ping.sass");
    req.send();
</script>
</html>
{{ end }}