{{ define "header" }}

    <link rel="preconnect" href="https://fonts.proxy.ustclug.org">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--  Import USTC Font Source  -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap" rel="stylesheet">
    <!--  Import Noto Sans Regular 400  -->
    <link rel="stylesheet" href="stylesheets/styles.css">
    <!--  Import main Stylesheets   -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!--  Import jQuery from Baidu Official CDN  -->
{{ end }}