{{ define "footer" }}
    <div class="sekai-sitefooter">
        <p>
            PRMLK©2018-2023 the PRMLK SeKai Team. It is available for use and modification under the <a href="https://github.com/sass/dart-sass/blob/main/LICENSE">MIT License</a>.
        </p>
    </div>
{{ end }}