<html lang="cmn-Hans">
<head>
<title>{{.sekaiSiteName}}</title>
<meta name="application-name" content="SeKai powered by Golang">
<meta name="description" content="{{.sekaiSiteDescription}}">
{{template "header" .}}
<!-- SeKai ChunkLoader Typical Header Marker -->
</head>
<body>
{{template "mask" .}}
<!-- SeKai ChunkLoader Typical Mask Marker -->

{{template "content" .}}
<!-- SeKai ChunkLoader Typical Content Marker -->

{{template "footer" .}}
<!-- SeKai ChunkLoader Typical Footer Marker -->
</body>