{{ define "footer" }}
    <div class="sekai-sitefooter">
        <p>
            PRMLK©2018-2023 the PRMLK SeKai Team. It is available for use and modification under the MIT License.
        </p>
    </div>
{{ end }}