<div class="sekai-bs-area-wrapper" id="postEdit">
    <div class="sekai-input-warp sekai-text-input-warp">
        <label for="userid" class="sekai-input-label">USERID</label>
        <input class="sekai-input" id="userid" type="text" placeholder="">
    </div>
    <div class="sekai-input-warp sekai-text-input-warp">
        <label for="username" class="sekai-input-label">USERNAME</label>
        <input class="sekai-input" id="username" type="text" placeholder="">
    </div>
    <div class="sekai-input-warp sekai-text-input-warp">
        <label for="nickname" class="sekai-input-label">NICKNAME</label>
        <input class="sekai-input" id="nickname" type="text" placeholder="">
    </div>
    <div class="sekai-input-group">
        <div class="sekai-input-warp sekai-text-input-warp">
            <label for="firstname" class="sekai-input-label">FIRST NAME</label>
            <input class="sekai-input" id="firstname" type="text" placeholder="">
        </div>
        <div class="sekai-input-warp sekai-text-input-warp">
            <label for="lastname" class="sekai-input-label">LAST NAME</label>
            <input class="sekai-input" id="lastname" type="text" placeholder="">
        </div>
    </div>
    <div class="sekai-input-warp sekai-text-input-warp">
        <label for="email" class="sekai-input-label">EMAIL</label>
        <input class="sekai-input" id="email" type="email" placeholder="">
    </div>
    <div class="sekai-input-warp sekai-text-input-warp sekai-textarea-input-warp">
        <label for="bio" class="sekai-input-label">BIO</label>
        <textarea class="sekai-input" id="bio"></textarea>
    </div>
    <div class="sekai-input-warp sekai-text-input-warp">
        <label for="siteurl" class="sekai-input-label">SITE</label>
        <input class="sekai-input" id="siteurl" type="url" placeholder="">
    </div>
    <div class="sekai-input-warp sekai-dropdown-input-warp">
        <input type="button" value="Post" id="submit" class="sekai-btn sekai-info" onclick="putUserProfile();">
    </div>
</div>

<script src="http://{{.sekaiSiteRoot}}/backStage/scripts/styles.js"></script>
<script>
    document.onload = getUserProfile();

    function getUserProfile() {
        if (getCookie("sekai_login_token") === false) {
            alert("NO TOKEN.");
            return false;
        }
        $.ajax({
            url: "http://{{.sekaiSiteRoot}}/v1/user/profile",
            type: "get",
            contentType: "application/json",
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", getCookie("sekai_login_token"));
            },
            success: function (response) {
                // alert(response.msg);
                profile = response.data.profile;
                $(".sekai-input#userid").val(profile.userId);
                $(".sekai-input#username").val(profile.Username);
                $(".sekai-input#nickname").val(profile.Nickname);
                $(".sekai-input#firstname").val(profile.FirstName);
                $(".sekai-input#lastname").val(profile.LastName);
                $(".sekai-input#email").val(profile.Email);
                $(".sekai-input#bio").val(profile.Bio);
                $(".sekai-input#siteurl").val(profile.SiteUrl);
            }
        });
    }

    function putUserProfile() {
        if (getCookie("sekai_login_token") === false) {
            alert("NO TOKEN.");
            return false;
        }
        // le.userId);
        // file.Username);
        // file.Nickname);
        // ofile.FirstName);
        // file.LastName);
        // e.Email);
        // Bio);
        // ile.SiteUrl);
        let inp_usr_id = $(".sekai-input#userid").val();
        let inp_usr_nme = $(".sekai-input#username").val();
        let inp_nck_nme = $(".sekai-input#nickname").val();
        let inp_fst_nme = $(".sekai-input#firstname").val();
        let inp_lst_nme = $(".sekai-input#lastname").val();
        let inp_eml = $(".sekai-input#email").val();
        let inp_bio = $(".sekai-input#bio").val();
        let inp_ste_url = $(".sekai-input#siteurl").val();
        if ((inp_usr_id.trim().length === 0) || (inp_usr_nme.trim().length === 0) || (inp_eml.trim().length === 0)) {
            alert("USERID, USERNAME or EMAIL is not able to be remained empty.");
            return false;
        } else {
            let postContent = {
                "userId": inp_usr_id,
                "Username": inp_usr_nme,
                "Nickname": inp_nck_nme,
                "FirstName": inp_fst_nme,
                "LastName": inp_lst_nme,
                "Email": inp_eml,
                "Bio": inp_bio,
                "SiteUrl": inp_ste_url,
                "CreatedAt": null,
                "Language": null,
                "ProfilePhoto": null,
            };
            $.ajax({
                url: "http://{{.sekaiSiteRoot}}/v1/user/profile",
                type: "put",
                contentType: "application/json",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", getCookie("sekai_login_token"));
                },
                data: JSON.stringify(postContent),
                success: function (response) {
                    alert(response.msg);
                    location.reload();
                }
            })
        }
    }
</script>