<div class="sekai-bs-sidebar">

</div>
<div class="sekai-bs-wrapper">
    <iframe class="sekai-bs-control" name="sekai-bs-control" scrolling="no" src="http://{{.sekaiSiteRoot}}/backstage/userEdit">
    </iframe>
</div>