@import "../../../../../template/header/stylesheets/function";
@import "../../../../../template/header/stylesheets/colorpalette";
@import "../../../../../template/header/stylesheets/fonts";

.sekai-bs-area-wrapper {
  padding: 2vw;
  background-color: $rgba-white;
}

.sekai-input-warp {
  margin-top: 20px;
  #content {
    width: 100%;
    height: 40vh;
    resize: vertical;
  }
}

