<div class="sekai-header-container">
    <div class="sekai-nav-element-nav">
        <ul class="sekai-nav">
            <li class="sekai-nav-element sekai-site-logo"><a>{{.sekaiSiteName}}</a></li>
            <li class="sekai-nav-element"><a href="/backStage/post/create">Posts</a></li>
            <li class="sekai-nav-element"><a href="/backStage/user/edit">User</a></li>
            <li class="sekai-nav-element"><a href="#">About</a></li>
            <li class="sekai-nav-gap"></li>
            <li class="sekai-nav-element sekai-nav-search"><i class="fa-solid fa-magnifying-glass"></i></li>
            <li class="sekai-nav-element"><a class="sekai-btn sekai-info"
                                             id="signin" href="http://{{.sekaiSiteRoot}}/backStage/user/login">Sign in</a></li>
        </ul>
    </div>
</div>

<script>
    window.onload = function () {
        let lTk = getCookie("sekai_login_token");
        if (lTk === false) return;
        $.ajax({
            url: "http://{{.sekaiSiteRoot}}/v1/user/profile",
            type: "get",
            contentType: "application/json",
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", getCookie("sekai_login_token"));
            },
            success: function (response) {
                // alert(response.msg);
                profile = response.data.profile;
                console.log(profile);
                userid = profile.userId;
                username = profile.Username;
                nickname = profile.Nickname;
                firstname = profile.FirstName;
                lastname = profile.LastName;
                email = profile.Email;
                bio = profile.Bio;
                siteurl = profile.SiteUrl;

                $("#signin").removeClass("sekai-btn").removeClass("sekai-info").text(nickname).attr("href", "http://{{.sekaiSiteRoot}}/backStage/");
            }
        });

        // alert(lTk);
        // console.log(lTk);
    };
</script>