@import "fonts";
@import "colorpalette";
@import "function";

a {
  cursor: pointer;
  text-decoration: none;
  color: $color-info-1;
  /* Primary 2 */
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $color-info-0;
  }
}

body {
  margin: 0;
}

.sekai-input-warp {
  display: block;
  position: relative;
  //height: 20px;
  &.sekai-text-input-warp .sekai-input-label {
    position: absolute;
    z-index: 2;
    //left: 10px;
    //top: -10px;
    font-size: 0.5em;
    background-color: $rgba-white;
    transition: all 0.2s ease-in-out;
    color: $rgba-grey-0;
    user-select: none;
    padding: {
      left: 0.5vh;
      right: 0.5vh;
    }
    transform: translate(10px,-10px);
  }
}

.sekai-input {
  //border: 0;
  background-color: $rgba-white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  outline: none;
  border: 0.15rem solid $rgba-grey-0;
  position: relative;
  &:hover {
    border: 0.15rem solid $rgba-grey-3;
    //+.sekai-input-label {
    //  color: $rgba-grey-3;
    //
    //}
  }
  &:focus {
    border: 0.15rem solid $rgba-info-0;
  }
}

.sekai-btn {
  border: 0.15rem solid $rgba-grey-2;
  background-color: $rgba-grey-1;
  padding: 0.4rem;
  border-radius: 0.5rem;
  min-width: 5rem;
  font-size: 0.9em;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $rgba-grey-2;
  }

  &:active {
    background-color: $rgba-grey-0;
    border: 0.15rem solid $rgba-grey-0;
  }

  &.sekai-info {
    color: $rgba-white !important;
    border: 0.15rem solid $rgba-info-2 !important;
    background-color: $rgba-info-1 !important;

    &:hover {
      background-color: $rgba-info-2 !important;
    }

    &:active {
      background-color: $rgba-info-0 !important;
      border: 0.15rem solid $rgba-info-0 !important;
    }
  }

  &.sekai-success {
    color: $rgba-white !important;
    border: 0.15rem solid $rgba-success-2 !important;
    background-color: $rgba-success-1 !important;

    &:hover {
      background-color: $rgba-success-2 !important;
    }

    &:active {
      background-color: $rgba-success-0 !important;
      border: 0.15rem solid $rgba-success-0 !important;
    }
  }
}

.sekai-sitefooter {
  clear: both;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 1em;
  width: 100%;
  user-select: none;
}

.sekai-bs-area-wrapper {
  padding: {
    top: 30px;
    bottom: 30px;
    left: 20px;
    right: 20px;
  };
}