* {
  font-family: "Noto Sans SC", sans-serif;
  color: #1D1D1F;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #55CFD4;
  /* Primary 2 */
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #07BBC3;
}

.sekai-input {
  background-color: rgb(245, 245, 247);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  outline: none;
  border: 0.15rem solid rgb(171, 171, 171);
}
.sekai-input:hover {
  border: 0.15rem solid rgb(126, 126, 126);
}
.sekai-input:focus {
  border: 0.15rem solid rgb(7, 187, 195);
}
.sekai-input-label {
  position: absolute;
  z-index: 2;
  left: 3vh;
  top: -1vh;
  font-size: 0.5em;
  background-color: rgb(245, 245, 247);
  transition: all 0.2s ease-in-out;
  color: rgb(171, 171, 171);
  user-select: none;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
}

.sekai-btn {
  border: 0.15rem solid rgb(227, 227, 227);
  background-color: rgb(240, 240, 240);
  padding: 0.4rem;
  border-radius: 0.5rem;
  min-width: 5rem;
  font-size: 0.9em;
  transition: 0.2s;
  cursor: pointer;
}
.sekai-btn:hover {
  background-color: rgb(227, 227, 227);
}
.sekai-btn:active {
  background-color: rgb(171, 171, 171);
  border: 0.15rem solid rgb(171, 171, 171);
}
.sekai-btn.sekai-info {
  color: rgb(245, 245, 247) !important;
  border: 0.15rem solid rgb(45, 195, 202) !important;
  background-color: rgb(85, 207, 212) !important;
}
.sekai-btn.sekai-info:hover {
  background-color: rgb(45, 195, 202) !important;
}
.sekai-btn.sekai-info:active {
  background-color: rgb(7, 187, 195) !important;
  border: 0.15rem solid rgb(7, 187, 195) !important;
}
.sekai-btn.sekai-success {
  color: rgb(245, 245, 247) !important;
  border: 0.15rem solid rgb(46, 210, 156) !important;
  background-color: rgb(87, 219, 176) !important;
}
.sekai-btn.sekai-success:hover {
  background-color: rgb(46, 210, 156) !important;
}
.sekai-btn.sekai-success:active {
  background-color: rgb(5, 205, 139) !important;
  border: 0.15rem solid rgb(5, 205, 139) !important;
}

.sekai-sitefooter {
  clear: both;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 1em;
  width: 100%;
  user-select: none;
}

body {
  background-image: linear-gradient(120deg, #2DC3CA, #2ED29C);
}

.sekai-loginform {
  background-color: rgb(245, 245, 247);
  width: 35vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 4vh;
  padding-right: 4vh;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.5);
}
.sekai-loginform h1 {
  margin-top: 2vh;
  text-align: center;
  margin-bottom: 5vh;
  color: rgb(29, 29, 31);
  user-select: none;
}
.sekai-loginform .sekai-input {
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  position: relative;
  margin-top: 2vh;
  width: 30vh;
  color: rgb(29, 29, 31);
}
.sekai-loginform .sekai-input ::placeholder {
  color: rgb(171, 171, 171);
}
.sekai-loginform .sekai-input-warp {
  position: relative;
}
.sekai-loginform .sekai-btn {
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  position: relative;
  margin-top: 2vh;
  width: 30vh;
  color: rgb(29, 29, 31);
  font-weight: 700;
}

.sekai-devide {
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: rgb(171, 171, 171);
  user-select: none;
}
.sekai-devide::before, .sekai-devide::after {
  content: "";
  flex: 1;
  height: 0.15rem;
  background: rgb(171, 171, 171);
}
.sekai-devide::before {
  margin-right: 0.25rem;
  margin-left: 2vh;
}
.sekai-devide::after {
  margin-left: 0.25rem;
  margin-right: 2vh;
}

.noscroll {
  min-height: 100vh;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
