{{ define "content" }}
<h1 class="sekai-pagetitle">Home Page</h1>
<ul class="sekai-nav">
    <li class="sekai-nav-element sekai-home"><a href="#home">Home</a></li>
    <li class="sekai-nav-element"><a href="#posts">Post</a></li>
    <li class="sekai-nav-element sekai-nav-element-right"><a href="#login">Login</a></li>
</ul>
{{ end }}