<!doctype html>
<html>
<head>
    <title>{{.sekai-pageTitle}}</title>
    {{template "header.tmpl"}}
    <!-- SeKai ChunkLoader Typical Header Marker -->
</head>
<body>
    {{template "mask.tmpl"}}
    <!-- SeKai ChunkLoader Typical Mask Marker -->
    {{template "content.tmpl"}}
    <!-- SeKai ChunkLoader Typical Content Marker -->

    {{template "footer.tmpl"}}
    <!-- SeKai ChunkLoader Typical Footer Marker -->
</body>
</html>