<!doctype html>
<html>
<head>
    [ header ]
    <!-- SeKai ChunkLoader Typical Header Marker -->
</head>
<body>
    [ content ]
    <!-- SeKai ChunkLoader Typical Content Marker -->


    [ footer ]
    <!-- SeKai ChunkLoader Typical Footer Marker -->
</body>
</html>