<link rel="preconnect" href="https://fonts.proxy.ustclug.org">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--  Import USTC Font Source  -->
<link href="https://fonts.proxy.ustclug.org/css2?family=Noto+Sans+SC&display=swap" rel="stylesheet">
<!--  Import Noto Sans Regular 400  -->
<link rel="stylesheet" href="http://{{.sekaiSiteRoot}}/backStage/stylesheets/styles.css">
<!--  Import main Stylesheets   -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<!--  Import jQuery from Microsoft Ajax Content Delivery Network Assets  -->
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/6.2.1/css/all.min.css">
<script src="http://{{.sekaiSiteRoot}}/backStage/scripts/function.js"></script>
